.contacts {
    &__container {
        margin: 2rem;
        transition: 0.2s ease all;

        &.sidenav--open {
            margin-left: 115px;
        }
    }

    &__heading {
        display: flex;
        justify-content: space-between;
        align-items: center;

        div:first-child {
            display: flex;
            align-items: center;
        }

        h2 {
            font-size: 14px;
            padding: 0 15px;
            padding-top: 2.5px;
        }
    }

    &__table {
        margin: 20px 0;
        display: grid;
    }

    &__add {
        cursor: pointer;
        height: 48px;
        padding: 5px 15px;
        background: $primary;
        border-radius: 3px;
        border: 0;
        color: #fff;
        transition: 0.2s ease background-color;

        i {
            padding-right: 10px;
        }

        &:hover {
            background: #0690d6;
        }
    }
}

.contact {
    &__notes textarea {
        height: 133px;
    }

    &__form {
        padding: 10px 5px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 25px;
    }

    &__modal {
        max-width: 600px;
        max-height: 520px;
        transform: translateY(30%);
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;

        h1 {
            font-size: 16px;
            padding: 0 5px;
        }
    }

    &__button {
        margin: 0;
    }

    &__info {
        h1 {
            font-size: 14px;
            color: inherit;
            margin: 0;
        }

        h2 {
            font-size: 10px;
            color: $primary-light;
            margin: 2.5px 0;
        }
    }
}
