.error {
    &__message {
        height: 15px;
        padding: 2.5px 0;
        color: rgb(203, 36, 49);
        font-size: 12px;
    }

    &__boundary {
        position: relative;
        padding: 15rem 1.5rem;
        margin: 15% auto;
        text-align: left;
        max-width: 36.4rem;
        height: 100px;

        p {
            font-size: 16px;
        }
        a {
            font-weight: bold;
        }
        @media (max-width: 767px) {
            padding: 10rem 1.5rem;
        }
    }
}
