.input {
    border: 1px solid #ced4da;
    height: 40px;
    padding: 10px 12px;
    font-size: 16px;
    box-sizing: border-box;
    transition: border-color 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border-radius: 4px;
    background-color: #fff;
    margin-top: 5px;

    &:focus {
        box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
        border-color: #80bdff;
        outline: none;
    }

    &.contact {
        background-color: #f9f9fb;
    }

    &.error {
        border-color: rgb(203, 36, 49);
    }
}

label {
    display: grid;
    font-size: 14px;
}
