.nav {
    height: 80px;
    display: flex;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.06) 2px 2px 10px 0px;
    background-color: $primary-darker;
    color: #fff;

    i {
        display: flex;
        font-size: 25px;
        align-items: center;
        padding: 0 30px;
        cursor: pointer;
    }
}

.sidenav {
    height: 100%;
    width: 80px;
    background-color: $primary-dark;
    position: absolute;
    transition: 0.2s ease width;
    box-shadow: rgba(0, 0, 0, 0.06) 1px 10px 11px 0px;

    a {
        text-decoration: none;
        color: inherit;
    }

    i {
        color: $white;
        width: 80px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        padding: 25px 0;
        font-size: 22.5px;
        cursor: pointer;
        transition: 0.2s background-color ease, 0.2s ease transform;

        &:hover,
        &.active {
            background-color: $primary-darker;
        }
    }

    &.hide {
        width: 0;

        i {
            transform: translateX(-100px);
        }
    }
}

.user {
    &__wrapper {
        display: flex;
        align-items: center;
        cursor: pointer;

        i {
            font-size: 10px;
            margin-top: 4px;
            padding: 20px 5px;

            @media (max-width: 768px) {
                display: none;
            }
        }

        span {
            font-size: 12px;
            font-weight: bold;
            padding: 0 15px;

            @media (max-width: 768px) {
                display: none;
            }
        }
    }

    &__image {
        height: 50px;
        border-radius: 50%;
        box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px;
        cursor: pointer;

        &--backup {
            height: 50px;
            width: 50px;
            cursor: pointer;
            background: aquamarine;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 25px;
            border-radius: 50%;
            box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px;

            @media (max-width: 768px) {
                height: 40px;
            }
        }

        @media (max-width: 768px) {
            height: 40px;
        }
    }

    &__menu {
        position: absolute;
        width: 200px;
        margin-top: 51px;
        background: $primary-darker;
        color: $white;
        font-size: 15px;
        list-style: none;
        padding: 15px 10px;
        right: 15px;
        border-radius: 4px;
        font-family: 'Open Sans';

        &:after {
            content: '';
            position: absolute;
            top: -11px;
            left: 165px;
            border-bottom: 11px solid $primary-darker;
            border-left: 11px solid transparent;
            border-right: 11px solid transparent;
        }

        &--wrapper {
            padding: 0 20px;
            grid-column-start: 2;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        a {
            text-decoration: none;
            color: inherit;
        }

        a i,
        li i {
            font-size: 15px;
            padding-right: 15px;
            padding-left: 0;
        }

        li {
            padding: 10px;
            cursor: pointer;
            display: flex;

            &:hover {
                opacity: 0.8;
            }
        }

        @media (max-width: 768px) {
            margin-top: 32px;
        }
    }
}
