.table {
    &__head {
        font-weight: bold;
    }

    &__cell {
        font-size: 14px;
        padding: 15px;
        margin: 15px 0;
        background: #fff;
        cursor: pointer;
        transition: 0.2s ease background-color;

        &:hover {
            background-color: #e7f4fa;
        }
    }

    &__options {
        text-align: center;
        font-size: 16;
    }

    &__menu {
        position: absolute;
        margin-top: 19px;
        background: #0063dd;
        font-size: 14px;
        list-style: none;
        padding: 10px 5px;
        right: 45px;
        border-radius: 4px;
        font-family: 'Open Sans';

        &:after {
            content: '';
            position: absolute;
            top: -11px;
            left: 65px;
            border-bottom: 11px solid #0063dd;
            border-left: 11px solid transparent;
            border-right: 11px solid transparent;
        }

        li {
            padding: 10px;
            cursor: pointer;
            display: inline-flex;
            align-items: center;
            transition: 0.2s ease opacity;

            i {
                color: #fff;
                padding-right: 10px;
            }

            &:hover {
                opacity: 0.8;
            }
        }
    }
}
