table {
    border-collapse: collapse;

    tbody {
        background: $white;
    }

    tr {
        height: 70px;
        transition: 0.2s ease background-color;

        &:hover {
            background-color: $primary-lighter;
        }
    }
}

.table {
    &__head {
        font-weight: bold;

        &--wrapper {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 5px;
            font-size: 14px;
        }
    }

    &__cell {
        font-size: 14px;
        padding: 15px;
        margin: 15px 0;
        cursor: pointer;
    }

    &__options {
        user-select: none;
        border-radius: 4px;
        cursor: pointer;
        border: 1px solid $grey-dark;
        text-align: center;
        font-size: 16px;
        padding: 10px;
        background-color: $white;
        transition: 0.2s ease background-color;

        &:hover {
            background-color: $primary-lighter;
        }

        &--wrapper {
            display: flex;
            justify-content: center;
        }
    }

    &__sort {
        display: inline-grid;
        padding: 0 10px;
        vertical-align: super;

        i {
            color: $grey-darker;

            &.active {
                color: $text-black;
            }
        }
    }

    &__menu {
        position: absolute;
        margin-top: 47px;
        background: $primary-darker;
        font-size: 14px;
        list-style: none;
        padding: 10px 5px;
        right: 53px;
        border-radius: 4px;
        font-family: 'Open Sans';

        &:after {
            content: '';
            position: absolute;
            top: -11px;
            left: 65px;
            border-bottom: 11px solid $primary-darker;
            border-left: 11px solid transparent;
            border-right: 11px solid transparent;
        }

        li {
            padding: 10px;
            cursor: pointer;
            display: inline-flex;
            align-items: center;
            transition: 0.2s ease opacity;

            i {
                color: #fff;
                padding: 0 5px;
            }

            &:hover {
                opacity: 0.8;
            }
        }
    }

    &__pagination {
        display: flex;
        justify-content: space-between;

        &:nth-child(2) {
            display: flex;
            align-items: center;
        }

        &--button {
            height: 45px;
            width: 50px;
            margin: 10px;
            margin-right: 0;
            padding: 5px 10px;
            cursor: pointer;
            background-color: transparent;
            border: 1px solid $grey-dark;
            border-radius: 4px;
            transition: 0.2s ease background-color;

            &:hover {
                background-color: $primary-lighter;
            }

            &:disabled {
                i {
                    color: $grey-dark;
                }
            }

            &.left {
                margin-left: 0;
            }

            i {
                color: $text-black;
            }
        }
    }
}
